<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encrypted File Sharing</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            text-align: center;
        }

        h1 {
            color: #333;
            margin-bottom: 20px;
        }

        form {
            display: grid;
            gap: 1rem;
            grid-template-columns: auto 1fr;
            max-width: 500px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            text-align: left;
        }

        label {
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
        }

        input {
            padding: 8px;
            width: 100%;
            box-sizing: border-box;
            margin-top: 4px;
            margin-bottom: 8px;
        }

        button {
            padding: 12px 15px;
            background-color: #007BFF;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover,
        button:focus {
            background-color: #0056b3;
        }

        .success-message {
            color: #28a745;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        a {
            color: #007bff;
            text-decoration: none;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>

    <h1>Encrypted File Sharing</h1>

    <% if (locals.fileLink != null) { %>
        <div class="success-message">
            Your file is uploaded. Here is the link:
            <a href="<%= locals.fileLink %>"><%= locals.fileLink %></a>
        </div>
    <% } %>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">File:</label>
        <input type="file" id="file" name="file" required />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
        <button type="submit">Share</button>
    </form>

</body>

</html>