<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encrypted File Sharing</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        form {
            display: grid;
            gap: 1rem;
            grid-template-columns: auto 1fr;
            max-width: 500px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }

        label {
            font-weight: bold;
        }

        input {
            padding: 8px;
            width: 100%;
            box-sizing: border-box;
            margin-top: 4px;
            margin-bottom: 8px;
        }

        button {
            padding: 10px;
            background-color: #007BFF;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
    </style>
</head>
<body>

    <h1>Encrypted File Sharing</h1>

    <% if (locals.fileLink != null) { %>
        <div style="margin-bottom: 1rem;">
            Your file is uploaded
            here is the link
            <a href="<%= locals.fileLink %>"><%= locals.fileLink %></a>
        </div>
    <% } %>


    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">File:</label>
        <input type="file" id="file" name="file" required />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
        <button type="submit">Share</button>
    </form>
</body>
</html>
